@import "../fonts/iransans.css";
@import "../fonts/times.css";

[class^="fa"],
[class*=" fa"] * {
  font-family: "Iran Sans X FaNum" !important;
}

.en * {
  font-family: "Times New Roman" !important;
}

/* @layer utilities { */
.rtl {
  direction: rtl;
  &.text-start,
  .text-start {
    @apply text-right;
  }
}

.ltr {
  direction: ltr;
  &.text-start,
  .text-start {
    @apply text-left;
  }
}
/* } */
