@import "./lang.css";
@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* Order */
@layer reset, primevue;

/* Reset CSS */
@layer reset {
  button,
  input {
    /* CSS to Reset */
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }
}

/* section.languages {
  @apply w-fit text-white dark:text-black;
} */
/* .p-button {
  @apply dark:!bg-gray-800/95 !bg-gray-100 flex items-center px-1 !rounded !shadow-lg hover:!bg-gray-100/75
  dark:hover:!bg-gray-700/75 text-base !border-gray-300 dark:!border-gray-800;
} */

:root {
  --body-bg: var(--p-gray-50);
  --card-bg: var(--p-gray-0);
  --card-border: var(--p-gray-200);
}

:root[class*="dark"] * {
  --body-bg: var(--p-gray-800);
  --card-bg: var(--p-gray-50);
  --card-border: var(--p-gray-200);
}
body {
  background-color: var(--body-bg);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
