@import "./lang.css";
@import "./animation.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* Order */
@layer reset, primevue;

/* Reset CSS */
@layer reset {
  button,
  input {
    /* CSS to Reset */
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }
  .unscrollable {
    @apply overflow-y-clip touch-none;
  }
  .text-multiline-ellips-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @apply overflow-hidden text-ellipsis;
  }
  .text-multiline-ellips-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    @apply overflow-hidden text-ellipsis;
  }
  .text-multiline-ellips-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    @apply overflow-hidden text-ellipsis;
  }
  .text-multiline-ellips-5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    @apply overflow-hidden text-ellipsis;
  }
  .text-multiline-ellips-6 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    @apply overflow-hidden text-ellipsis;
  }
}
html {
  @apply overflow-hidden;
}
.main::-webkit-scrollbar {
  width: 3px !important;
}

:root {
  --var-body-bg: var(--p-gray-100);
  --var-component-bg: var(--p-white-alpha-900);
  --var-text-color: var(--p-gray-900);
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-300;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded transition-all;
  }
}

:root[class*=" dark"] *,
:root[class^="dark "] * {
  --var-body-bg: var(--p-gray-900);
  --var-component-bg: var(--p-gray-900);
  --var-text-color: var(--p-gray-100);

  ::-webkit-scrollbar-track {
    @apply bg-gray-600;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-800;
  }
}

body {
  background-color: var(--var-body-bg);
  color: var(--var-text-color);
  @apply transition-colors;
}
